@model IEnumerable<StockSimulationMVC.Models.SimTransactionModel>

@{
    ViewBag.Title = "SimTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SimTransaction</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            期末資金
        </th>
        <th>
           資金投報率
        </th>
        <th>
           買賣次數
        </th>
        <th>
           平均購買時間
        </th>
        <th>
           每次買賣投報率
        </th>
        <th>
           勝
        </th>
        <th>
           負
        </th>
        <th>
           勝率
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EndCapital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnofInvestment) %
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.InvestTimes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageHoldDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageReturnofInvestment) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinRatio) %
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
